# Compiled class file
*.class
 
# Log file
*.log
 
# BlueJ files
*.ctxt
 
# Mobile Tools for Java (J2ME)
.mtj.tmp/
 
# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
 
# Eclipse & IntelliJ IDEA
.classpath
.settings/
.idea
.idea/
*.iws
*.iml
*.ipr
.settings
.project
.flattened-pom.xml
 
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
 
# Gradle
.gradle
.gradle/
build/
**/build/
bin/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
gradle/wrapper/gradle-wrapper.properties
 
# VS Code
.vscode/
 
# STS
.apt_generated
.factorypath
.springBeans
.sts4-cache
 
# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/