# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

/blog-cloud-web/auto-imports.d.ts
/blog-cloud-web/components.d.ts
blog-cloud-web.code-workspace
# Editor directories and files
.vscode/*

!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

