
.hljs {
  background: none;
  font-family: Menlo,Monaco,Consolas,Courier,monospace !important;
}
pre{
  margin: 0 ;
}
code.hljs {
  padding: 0;
}

.hljs-tag {
  background: transparent;
}


.codelit {
  background-color: var(--code-bg-line);
  padding: 0 4px;
  border: 1px solid var(--code-bg-line-border);
  border-radius: 4px;
}

 .codes,
.code_wrap {
  line-height: 1.8;
  // font-family: Menlo, Monaco, Consolas, Courier, monospace;
  font-size: 14px;
  padding: 18px 24px;
  // background-color: #fafafa;
  background-color: var(--code-bg);
  -webkit-font-smoothing: auto;
  display: block;
  overflow-x: auto;
  white-space: pre;
  font-family: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

}

.code_wrap {
  border: 1px solid var(--yh-component-stroke);
  p {
    margin: 0;

  }

}

.codes {
  border: 1px solid var(--yh-component-stroke);
  margin-bottom: 25px;
  border-radius: 4px;
}

