@font-face {
  font-family: "dd"; /* Project id 3424605 */
  src: url('iconfont.woff2?t=1675742100019') format('woff2'),
       url('iconfont.woff?t=1675742100019') format('woff'),
       url('iconfont.ttf?t=1675742100019') format('truetype');
}

.dd {
  font-family: "dd" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dd-icon-guanzhu1:before {
  content: "\e686";
}

.dd-icon-guanzhu-zhihui:before {
  content: "\e61e";
}

.dd-icon-file1:before {
  content: "\e6f7";
}

.dd-icon-folder:before {
  content: "\e6f6";
}

.dd-icon-html:before {
  content: "\e632";
}

.dd-icon-mulu:before {
  content: "\e62f";
}

.dd-icon-file:before {
  content: "\e6f4";
}

.dd-icon-shezhi:before {
  content: "\e629";
}

.dd-icon-yonghuming:before {
  content: "\e64a";
}

.dd-icon-a-bianzu92:before {
  content: "\e6f3";
}

.dd-icon-tishi:before {
  content: "\e621";
}

.dd-icon-a-GAOBUG:before {
  content: "\e69c";
}

.dd-icon-gaobug-copy:before {
  content: "\ec8d";
}

.dd-icon-pinglun1:before {
  content: "\e619";
}

.dd-icon-dianzan_kuai:before {
  content: "\ec8c";
}

.dd-icon-shoucang1:before {
  content: "\e8c7";
}

.dd-icon-shezhixitongshezhigongnengshezhishuxing:before {
  content: "\e795";
}

.dd-icon-gerenziliao-tongxunlu-06:before {
  content: "\e926";
}

.dd-icon-01_wenzhangguanli:before {
  content: "\e636";
}

.dd-icon-wode-wode:before {
  content: "\e60d";
}

.dd-icon-home:before {
  content: "\e62a";
}

.dd-icon-tuichu:before {
  content: "\e6bc";
}

.dd-icon-zhuye:before {
  content: "\e663";
}

.dd-icon-tuceng:before {
  content: "\e63b";
}

.dd-icon-shouye:before {
  content: "\e8c6";
}

.dd-icon-guanzhu:before {
  content: "\e655";
}

.dd-icon-shoucang:before {
  content: "\e6ca";
}

.dd-icon-wenzhang:before {
  content: "\e625";
}

.dd-icon-dianzan:before {
  content: "\ec7f";
}

.dd-icon-liulan:before {
  content: "\e68b";
}

.dd-icon-pinglun:before {
  content: "\e8b4";
}

