html,
body {
  height: 100%;
  // font-family: "微软雅黑", "MicrosoftYaHei", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  // font-family: not specified;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Source Han Sans CN,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

#app {
  width: 100%;
  height: 100%;
}

.amap-logo,
.amap-copyright {
  display: none !important;
}

[class*=" blq-icon-"],
[class^=blq-icon-] {
  font-family: iconfont !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.flex-def {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-sa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*隐藏滚动条*/
.hidden-scroll::-webkit-scrollbar {
  display: none;
}


.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@for $i from 2 to 10 {
  .ellipsis-#{$i} {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
  }
}

//系统管理里面的 main
.contents {
  // height: 100%;
  flex: 1;
  padding: 0px $content-padding $content-padding $content-padding;
  box-sizing: border-box;
  // background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}


.border-box {
  box-sizing: border-box;
  padding: 8px;
}

// 美化滚动条
.beautify-scroll-def {
  &::-webkit-scrollbar-track-piece {
    //滚动条凹槽的颜色，还可以设置边框属性
    //   background-color: #f8f8f8;
  }

  &::-webkit-scrollbar {
    //滚动条的宽度
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    //滚动条的设置
    background-color: #dddddd;
    background-clip: padding-box;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
  }
}

// 美化滚动条2
.web-scroll-beautify {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    overflow: auto;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    min-height: 25px;
    min-width: 25px;
    border: 1px solid #e0e0e0;
    border-radius: 99px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f7f7f7;
    // border: 1px solid #efefef;
  }
}

//左边有条竖线
.left_shu_h2,
.left_h2 {
  font-weight: 900;
  font-size: 15px;
  height: 36px;
  line-height: 36px;
  position: relative;
  text-indent: 12px;
}

.left_shu_h2 {
  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 50%;
    top: 25%;
    left: 0;
    border-radius: 4px;
    background: $primary-color;
  }
}

.margins {
  height: 15px;
  background: $content-background;
}

//表格上搜索条件
.search-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 8px;
  background-color: #FFF;

  .search-form-item {
    width: 280px;
    display: flex;
    padding: 6px 0;
    margin-left: 6px;

    label {
      min-width: 80px;
      width: 80px;
      text-align: center;
      font-size: 14px;
      line-height: 32px;
    }

    .el-input__inner {
      font-size: 14px;
    }

    &.time {
      width: 430px;
    }
  }

  .time {
    width: 460px;
  }

  .action {
    width: 160px;
    justify-content: flex-end;
  }
}

//表格上方操作
.myTable-top-action {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  background: $content-background;

  >div {
    line-height: 40px;

    .iconfont {
      cursor: pointer;
      margin: 0 8px;
    }
  }

  .left {
    display: flex;
    align-items: center;
  }

  .rights {
    margin-right: 12px;
  }

  .el-button {
    padding: 6px 11px;
    text-align: center;
    font-size: 12px;
  }

  .el-button--primary.is-plain {
    color: #fff;
    background-color: $table-header-button;
    border-color: $table-header-button;

    &:hover,
    &:focus {
      background-color: rgba($color:$table-header-button, $alpha: 0.7);
      border-color: rgba($color:$table-header-button, $alpha: 0);
    }
  }


}

//表格列表后面操作
.my_table_innerOperation {
  span {
    color: $primary-color;
    cursor: pointer;
    margin: 0 4px;
    font-size: 14px;
  }

  .edit {
    color: $primary-color;
    font-size: 12px;
  }

  .del {
    color: $del-color;
    font-size: 12px;
  }

  .icon {
    display: inline-block;
    text-align: center;
    width: 40%;
  }

  // span:last-child {
  //   margin-right: 0px;
  // }
}



//分页

.my_pagination {
  padding: 12px 0 0 0;
  height: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

//表格
.my_table {
  background: #FFF;

  .el-table__header {

    tr {
      th {
        // background-color: rgba($color: $primary-color, $alpha: .8);
        // color: #FFF;
        background-color: $table-header-background;
        color: #000;
        // font-size: 14px;
        // color: rgb(119, 118, 118);
        // .cell{
        //   font-weight: 900;
        // }
      }
    }

  }

  .el-table__body {
    tbody {
      .lightColour {
        // background: #ffffff;
      }

      .DarkColor {
        // background: #f5f5f5;
      }

      tr>td {
        // font-size: 14px;
        // border-bottom: none;
      }

      tr:hover>td {
        // background-color: #2a3b70 !important;
        // border-bottom: none;
      }
    }

    .el-table-column--selection .cell {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

}

//列表左侧为树状
.left-tree-content {
  height: 100%;
  display: flex;
  flex-direction: column;

  .search-form {
    background: #fff;
    // box-shadow: $primary-shadow;
  }

  .tree-content-list {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    margin-top: 10px;

    &_left {
      min-width: 200px;
      height: 100%;
      margin-right: 10px;
      box-shadow: $primary-shadow;
      background: #fff;

      .title {
        width: 100%;
        height: 36px;
        background: #D8EAFF;
        color: #333333;
        line-height: 36px;
        font-size: 14px;
        text-indent: 10px;
        font-weight: 900;
      }
    }

    &_right {
      background: #fff;
      height: 100%;
      flex: 1;
      max-width: calc(100% - 210px);
    }
  }

  .myTable-top-action {
    background: $content-background;
  }
}


.yh-zoom-in-right-enter-active,
.yh-zoom-in-right-leave-active {
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1),
    -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1),
    -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1),
    -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.yh-zoom-in-right-enter,
.yh-zoom-in-right-leave-active {
  opacity: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}