<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaobug.platform.dao.BlogMapper">

    <sql id="Base_Column_List">
        id,title,summary,
        content,tag,click_count,
        collect_count,thumbnail_url,status,
        author,articles_part,category_id,
        publish,sort,open_comment,
        hot,create_time,update_time
    </sql>
    <sql id="blog_list_columns">
        t.id,
		t.title,
		t.summary,
		t.click_count,
		t.collect_count,
		t.cover_url,
		t.author,
		t.publish,
		t.sort,
		t.category_id,
		t.open_comment,
		t.hot,
		t.create_time
    </sql>
    <sql id="blog_page_columns">
        t1.id,
        t1.title,
        t1.summary,
        t1.click_count,
        t1.collect_count,
        t1.cover_url,
        t1.author,
        t1.publish,
        t1.sort,
        t1.open_comment,
        t1.hot,
        t1.create_time,
        t1.category_id,
        t2.category_name,
        t3.nick_name AS author_name
    </sql>
    <sql id="blog_page_sql">
        SELECT
        <include refid="blog_page_columns"/>
        FROM
        (
        SELECT
        <include refid="blog_list_columns"/>
        FROM
        t_blog t
        WHERE
        t.`status` = 1
        AND t.`publish` = 1
        ) t1
        LEFT JOIN t_blog_category t2 ON t1.category_id = t2.id
        LEFT JOIN t_user t3 ON t1.author = t3.id
    </sql>
    <select id="selectRecommendBlogPage" resultType="com.gaobug.platform.vo.BlogVO">
        <include refid="blog_page_sql"/>
        ORDER BY t1.hot DESC,t1.sort DESC,t1.create_time DESC,t1.click_count DESC
    </select>

    <select id="selectNewestBlogPage" resultType="com.gaobug.platform.vo.BlogVO">
        <include refid="blog_page_sql"/>
        ORDER BY t1.create_time DESC
    </select>

    <select id="selectHotBlogPage" resultType="com.gaobug.platform.vo.BlogVO">
        <include refid="blog_page_sql"/>
            ORDER BY t1.hot DESC, t1.click_count DESC, t1.create_time DESC, t1.collect_count DESC
    </select>

</mapper>
