<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaobug.platform.dao.UserMapper">

    <select id="selectUserByAccountOrEmail" resultType="com.gaobug.platform.domain.PlatformUser">
        select t1.*
        from (
                 SELECT *
                 FROM `t_user`
                 where account = #{account}
                 UNION ALL
                 SELECT *
                 FROM `t_user`
                 where email = #{account}) t1 LIMIT 1
    </select>

</mapper>
