/*
 * @Author: wei
 * @description: 修改element主题和变量
 * @LastEditTime: 2022-12-12 10:20:36
 */
// https://github.dev/element-plus/unplugin-element-plus

// @forward 'element-plus/theme-chalk/src/common/var.scss' with (
//   $colors: (
//     'primary': (
//       'base': #018E9A,
//     )
//   )
// );
@import "element-plus/theme-chalk/dark/css-vars.css";

:root.light {
  --el-color-primary: var(--yh-brand-color);
  --el-color-primary-light-3: var(--yh-brand-color-7);
  --el-color-primary-light-5: var(--yh-brand-color-5);
  --el-color-primary-light-7: var(--yh-brand-color-3);
  --el-color-primary-light-8: #d9ecff;
  --el-color-primary-light-9: #ecf5ff;

  .el-textarea__inner {
    --el-input-focus-border-color: var(--yh-brand-color);
  }
}

:root[theme-mode="dark"] {
  --el-color-primary: var(--yh-brand-color);
  --el-color-primary-light-3: var(--yh-brand-color-7);
  --el-color-primary-light-5: var(--yh-brand-color-5);
  --el-color-primary-light-7: var(--yh-brand-color-3);
}

.dark .el-popover.el-popper {
  background: var(--el-bg-color-overlay);
  border: 1px solid var(--el-border-color-light);
}
// tooltip颜色重置
.el-popper.is-gb-tooltip {
  color: var(--el-text-color-regular);
  background: var(--el-bg-color-overlay);
  border: 1px solid var(--el-border-color-light);
}
.el-popper.is-light {
  color: var(--el-text-color-regular);
}

html .el-popover.el-popper {
  min-width: 100px;
}

.el-message.message_top {
  z-index: 10000 !important;
}
//.el-message
html .el-message {
  background-color: var(--yh-bg-color-container);
  box-shadow: var(--yh-shadow-3), var(--yh-shadow-inset-top),
    var(--yh-shadow-inset-right), var(--yh-shadow-inset-bottom),
    var(--yh-shadow-inset-left);
  border: none;
  color: var(--yh-text-color-primary);

  .el-message__icon {
    font-size: 20px;
  }

  &.el-message--info .el-message__icon {
    color: var(--yh-brand-color);
  }

  &.el-message--success .el-message__icon {
    color: var(--yh-success-color);
  }

  &.el-message--warning .el-message__icon {
    color: var(--yh-warning-color);
  }

  &.el-message--error .el-message__icon {
    color: var(--yh-error-color);
  }

  .el-message__content {
    color: var(--yh-text-color-primary);
  }
}
//.el-message-box
html .el-message-box__container {
  .el-message-box__status.el-message-box-icon--info {
    color: var(--yh-brand-color);
  }
  .el-message-box__status.el-message-box-icon--success {
    color: var(--yh-success-color);
  }

  .el-message-box__status.el-message-box-icon--warning {
    color: var(--yh-warning-color);
  }

  .el-message-box__status.el-message-box-icon--error {
    color: var(--yh-error-color);
  }
}

.el-button.button-no-active {
  &:active,
  &:focus {
    background-color: var(--el-button-bg-color);
    border-color: var(--el-button-bg-color);
    outline: 0;
  }

  &:hover {
    background-color: var(--yh-brand-color-hover);
    border-color: var(--yh-brand-color-hover);
  }
}

.message-box-default {
  .el-message-box__status.el-icon {
    color: var(--yh-brand-color);
    --el-messagebox-color: var(--yh-brand-color);
  }
}

.el-overlay .el-overlay-message-box {
  .el-message-box {
    margin-top: -20vh;
  }
}
