<template>
  <div>
    {{name}}
    {{#if addUpdate}}
    <ul>
      <li>有add与update</li>
    </ul>
    {{else}}
        <span>没有add与update</span>
    {{/if}}
  </div>
</template>
<script setup lang="ts">

</script>
<style lang="scss" scoped>

</style>