div {
  box-sizing: border-box;
}

.contents {
  padding: 0;
  overflow-y: hidden;
  position: relative;
}

.map-explain {
  top: 0px;
  left: 20px;
  text-shadow: 5px 5px 5px #FFFFFF;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3px 6px;
  color: #666666;
}

.map-size {
  width: 100%;
  height: 100%;
}

/deep/.el-input-group {
  width: 430px;
  box-shadow: 0px 2px 3px 0px rgba(10, 13, 20, 0.23)
}

/deep/.el-input--mini .el-input__inner {
  line-height: 40px;
  height: 40px;
  width: 320px;
}

.search-button {
  background: #1890FF;
  color: #FFFFFF;
  font-size: 14px;
  width: 70px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: -20px;
  position: relative;
  border-radius: 0px 4px 4px 0px;
}

.search-button:hover {
  background: #ffaa00;
}

.right-tigs {
  width: 4px;
  height: 15px;
  background: #108CFF;
  border-radius: 2px;

}

.title_header {
  position: relative;

  .el-icon-d-arrow-right {
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: 15px;
    transform: rotate(-90deg);
    font-size: 16px;
    cursor: pointer;
    font-weight: 900;
    transition: all .3s;
  }
}

.right-box {
  width: 320px;
  background: #FFFFFF;
  box-shadow: 0px 2px 12px 0px rgba(10, 13, 20, 0.47);
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;

  .right-item {
    width: 100%;
    background: #E8F4FF;
    border: 1px solid #C1E0FC;
    border-radius: 4px;
    padding: 16px 10px;
    box-sizing: border-box;
  }

  .right-item2 {
    width: 100%;
    background: #F1FDFD;
    border: 1px solid #C3F9CC;
    border-radius: 4px;
    padding: 16px 10px;
    box-sizing: border-box;
  }

  .right-item3 {
    background: #FDF1F5;
    border: 1px solid #FFBEC3;
    border-radius: 4px;
    padding: 10px 10px;
    box-sizing: border-box;
  }

  .right-item-number {
    height: 22px;
    line-height: 22px;
    background: #3A8CFD;
    border-radius: 10px;
    color: #FFFFFF;
  }

  .right-item-number2 {
    height: 22px;
    line-height: 22px;
    background: #53DCA2;
    border-radius: 10px;
    color: #FFFFFF;
  }

}

.search {
  width: 370px;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 0 4px 4px 0px;
}

.search:hover {
  background-color: #e4f5ff;
}

.home-item-show {
  width: 460px;
  position: fixed;
  z-index: 11;
  box-sizing: border-box;
}

.home-item-show-title {
  width: 100%;
  box-sizing: border-box;
  height: 46px;
  background: #E9F1F9;
  border-radius: 8px 8px 0px 0px;
  cursor: move;
}

.home-item-box {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 0px 0px 8px 8px;
}

.border-bottom {
  width: 60px;
  height: 3px;
  background: #108CFF;
  border-radius: 1px;
}

.home-w30 {
  width: 33%;
}

/deep/.amap-info,
.amap-menu {
  margin-top: -10px;
}

/deep/.table-pag .pagination_wrap {
  display: flex;
  justify-content: center;
}

.home-item-show ::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0
}

.home-item-show ::-webkit-scrollbar {
  width: 5px;
  height: 10px
}

.home-item-show ::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #b8b8b8;
  -webkit-border-radius: 6px;
  outline-offset: -2px;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5
}

.home-item-show ::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #878987;
  -webkit-border-radius: 6px
}

.minitable {
  /deep/.el-table__header {
    .el-table__cell {
      padding: 4px 0;

      .cell {
        padding: 0 2px;
      }
    }

  }
}

.sbkbShow {
  height: 366px;
  transition: height 0.4s;
  overflow: hidden;
}

.sbkbHide {
  height: 0px;

}

// 设备告警列表
.device-warn-list {
  bottom: -240px;
  left: 0;
  width: 100%;
  transition: all .4s;

  &_title {
    position: relative;

    .el-icon-close {
      position: absolute;
      right: 10px;
      top: 0;
      height: 100%;
      font-size: 14px;
      font-weight: 900;
      cursor: pointer;
    }
  }
}

.bottom-box {
  background: #FFF;
  box-shadow: 0 -2px 4px -1px rgba(10, 13, 20, 0.17);

  /deep/.el-table th {
    border-bottom: 0px solid #ebeef5;
    background: #EDF3F9;
  }

  /deep/.pagination_wrap {
    padding: 0px 0px 0 0;
    // justify-content: right;
  }
}

.bottomshow {
  bottom: 0;
}

.device-warn-hide {
  right: 30px;
  bottom: 40px;
  padding: 6px 10px;
  border-radius: 4px;
  background: linear-gradient(0deg, #3070E7, #64A3F9);
  box-shadow: 0 0 4px 2px rgba($color: #3070E7, $alpha: 0.2);
  color: #FFF;
  font-size: 14px;
  cursor: pointer;
  i {
    font-weight: 900;
    margin-right: 4px;
  }
}